---
import { FlowChart } from '../components/FlowChart';
---

<html lang="en">
    <head>
        <title>Mbanc Flow</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This is a flowchart of the mbanc stepper process">
        <link rel="icon" href="/favicon.ico">
    </head>
    <body>
        <main role="main">
            <section class="h-screen w-screen">
                <FlowChart client:load/>
            </section>
        </main>
    </body>
</html>
